<div class="container text-center">
  <div class="page-header">
    <h1> Contact Us </h1>
  </div>
<h3> General Inquiries</h3>
<!-- created a link below to the previous fyiio website. -->
<p>Email: hello@technofyi.com</p>
<p> Other site: <%= link_to("TechnoFyi.com", "http://www.technofyi.com") %></p>
</div>