<div id="discover_navbar">
<!-- Prep for bootstrap design -->
<!-- Will want to display these inline for desktop and tablet-landscape views -->
<!-- Will probably want searchbar to be 12 cols when viewing on xs device -->
  <div><h1>Discover others content!</h1></div>
  <div> <!-- Search for open content -->
    <% search_content_path do%>
    <input id="discover_searchbar" name="query" placeholder="Search Content" type="text" autocomplete="off">
    <% end %>
  </div>
</div>