<div class="container">
    <div class="jumbotron text-center">
    <h1>Beautiful documentation, made easy</h1>
    <p></p>
    <%= link_to("Create something awesome", tutorials_create_path, :class => "btn btn-primary btn-lg")%>
    </div>
</div>
<div class="container text-center">
  <h2 class> fyi.io is the platform for developing, publishing, and interacting with instructional content online.</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">Template</div>
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">All-in-one</div>
  </div>  
  <div class="row">
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">Interactive</div>
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">Video and text</div>
  </div>  
  <div class="row">
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">Custom URLs</div>
    <div class="col-xs-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>  
    <div class="col-xs-3">Update easily</div>
  </div>  
</div>
<div class="container text-center">        
  <h2>Learn or create something awesome today!</h2>
</div>
<div class="container">
  <%= link_to("Discover content", discover_path, :class => "btn btn-default navbar-btn btn pull-left")%>
  <%= link_to("Create content", tutorials_create_path, :class => "btn btn-default navbar-btn btn pull-right")%>
</div>
