<h1>This is the home page.</h1>

<p>Video</p>

<p><img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg"  style="width:304px;height:228px;"></p>

<a href="/about">About</a>

<a href="/discover">Discover</a>

<a href="users/sign_in">Sign In</a>

<a href="users/sign_up">Sign Up</a>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>