<div id = "welcome" class = "row">
<h1 class = "center">Beautiful documentation, made easy</h1>
</div>

<div class = "row">
<h2 class = "center"> fyi.io is the platform for developing, publishing, and interacting with instructional content online.</h2>
</div>

<div class = "row">

  <div class = "col-6">

    <div class = "col-6">
      <img src="http://i.livescience.com/images/i/000/076/766/original/lil-bub-cat-photo.jpeg?1434597544" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>Template</h3>
      <p> Stuff and things. </p>
    </div>
  </div>
  <div class = "col-6">

    <div class = "col-6">
      <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>All-in-one</h3>
      <p> Stuff and things. Cats and cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats. </p>
    </div>
  </div>



</div>
<br>
<div class = "row">

  <div class = "col-6">

    <div class = "col-6">
      <img src="http://i.livescience.com/images/i/000/076/766/original/lil-bub-cat-photo.jpeg?1434597544" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>Interactive</h3>
      <p> Stuff and things. </p>
    </div>
  </div>
  <div class = "col-6">

    <div class = "col-6">
      <img src="http://i.livescience.com/images/i/000/076/766/original/lil-bub-cat-photo.jpeg?1434597544" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>Video and text</h3>
      <p> Stuff and things. Cats and cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats. </p>
    </div>
  </div>


</div>
<br>

<div class = "row">

  <div class = "col-6">

    <div class = "col-6">
      <img src="http://i.livescience.com/images/i/000/076/766/original/lil-bub-cat-photo.jpeg?1434597544" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>Custom URLs</h3>
      <p> Stuff and things. </p>
    </div>
  </div>
  <div class = "col-6">

    <div class = "col-6">
      <img src="http://i.livescience.com/images/i/000/076/766/original/lil-bub-cat-photo.jpeg?1434597544" style="width:300px;height:300px;">
    </div>

    <div class = "col-6">
      <h3>Update easily</h3>
      <p> Stuff and things. Cats and cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats cats and cats. </p>
    </div>
  </div>
</div>

<h2 class ="center">
Learn or create something awesome today!</h2>