<<<<<<< HEAD
test
=======
<h1>This is the home page.</h1>

<a href="main/about">About</a>

<a href="main/discover">Discover</a>

<a href="main/sign_in">Sign In</a>

<a href="main/sign_up">Sign Up</a>
>>>>>>> 1-main-page
