
<h1>Beautiful documentation, made easy</h1>


<h2 class> fyi.io is the platform for developing, publishing, and interacting with instructional content online.</h2>
<h3>Template</h3>
<h3>All-in-one</h3>
<h3>Interactive</h3>
<h3>Video and text</h3>
<h3>Custom URLs</h3>
<h3>Update easily</h3>
      
<h2>Learn or create something awesome today!</h2>