<h1>This is the home page.</h1>

<p>Video</p>

<p><img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg"  style="width:304px;height:228px;"></p>

<div>
  <h2>fyi.io is the platform for developing, publishing, and interacting with instructional content online.</h2>
</div>

<div>
  <div><h3>Template</h3></div>
  <div><h3>All-in-one</h3></div>
</div>
<div>
  <div><h3>Interactive</h3></div>
  <div><h3>Video & Text</h3></div>
</div>
<div>
  <div><h3>Custom URLs</h3></div>
  <div><h3>Update easily</h3></div>
</div>

<div>
  <h2>Learn or create something awesome today!</h2>
</div>