<br><br>
<% if @errors == true %>
  Invalid Authentication Code <br><br>
<% end %>
<%= form_tag('verification/confirmation') do %>
   <input id="verification_field" type="text" name="company_verification" value="<%= params[:company_verification] %>">
    <div id="verification_submit"><%= submit_tag 'Submit' %></div>
<% end %>