
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're invited to join this team. It's great. Click below:</h1>
    <p><%= link_to('Verify Account',"http://localhost:3000/companyInvites/verification/#{@invite.auth_code}") %></p>
  </body>
</html>