test
<div id="toolbar">
  <a href="/">home</a>
  <a href="/discover">discover</a>
  <a href="/about">about</a>
  <a href="#">dashboard</a>
  <!-- Setting the sign-in / sign-out to the top of the page -->
</div>