<h1>View Tutorial for <%= @tutorial.title %></h1>

<div>
  <% @chapters.each do |chapter| %>
    <% @counter += 1 %>
    Chapter <%= @counter %> <%= link_to(chapter.title, "/tutorials/#{@tutorial.id}/chapters/#{chapter.id}") %><br>
  <% end %>
</div>
<br>
