<h1>View Tutorial</h1>

<select> <!-- List of Chapters -->
  <option>Select Chapter</option>
  <% @chapters.each do |chapter| %>
    <option value="<%= chapter.id %>"><%= chapter.title %></option>
  <% end %>
</select>
