<h1>View Tutorial for <%= @tutorial.title %></h1>

<div>
  <% @chapters.each do |chapter| %>
    <%= link_to(chapter.title, "/tutorials/#{@tutorial.id}/chapters/#{chapter.id}") %><br>
  <% end %>
</div>
<br>

<%= link_to "Delete", delete_tutorial_path, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this Tutorial and all related chapters and steps?" } %>