<div class="container">
  
  <div class="sign_in">
  <h1 class="sign_in__header">Sign in to start learning!</h1>
    <div class="username__text">
      <div>Username:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <div class="password__text">
      <div>Password</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
  </div>

  


<style>
.sign_in {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

.sign_in__header {
  margin: 10px;
}

</style>