<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
        <ul class="navbar-left">
            <button type="button" class="btn btn-primary btn-lg">Left button
            </button>
        </ul>

        <ul class="pager">
            <button type="button" class="btn btn-primary btn-lg">Left button
            </button>
        </ul>

      <ul class="navbar-right">
            <button type="button" class="btn btn-primary btn-lg">Right button
            </button>
      </div>
  </div>
</nav>
  

