<div class="container">
  
  <div class="sign_up">
  <h1 class="sign_up__header">Sign up your company to get started!</h1>
  <br>
    <div class="email__text">
      <div>Email Address:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <br>
    <div class="password__text">
      <div>Password:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <br>
    <div class="password_confirmation__text">
      <div>Password confirmation</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="first_name__text">
      <div>First Name:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="last_name__text">
      <div>Last Name:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
  </div>
</div>


  


<style>
.sign_up {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

.sign_up__header {
  margin: 10px;
}

</style>