

<div class="container">

  <div>Were you sent a company invite?</div>
  <br>
  <div id = "yes">
    <div>Yes</div>
  </div>
  <br>
  <div id = "no">
    <div>No</div>
  </div>
</div>




<style>

.container {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

#yes {
  color: #3494B5;
  background-color: #25677D;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
  margin-left: 490px;
}
.yes:hover {
  text-decoration: none;
  color: #31A0E9;
  background: #175076;
}

#no {
  color: #3494B5;
  background-color: #25677D;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
  margin-left: 490px;
}

.no:hover {
  text-decoration: none;
  color: #31A0E9;
  background: #175076;
}


</style>