<div class="container">
  
  <div class="sign_up">
  <h1 class="sign_up__header">Sign up your company to get started!</h1>
  <br>
    <div class="company_name__text">
      <div>Company Name:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <br>
    <div class="sub_domain__text">
      <div>Sub Domain:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <br>
    <div class="description__text">
      <div>Briefly describe it: (250 characters max)</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="address__text">
      <div>Address:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="suite__text">
      <div>Suite/Apt#:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="city__text">
      <div>City:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="state__text">
      <div>State:</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="zip_code__text">
      <div>Zip Code:</div>
      <div>      
        <form>
          <input type="number">
        </form>
      </div>
    </div>
  </div>

  


<style>
.sign_up {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

.sign_up__header {
  margin: 10px;
}

</style>