<div class = "center">
<h1>Create Tutorial</h1>


<div class="btn btn--create">
    <span class="btn__text">Choose a video</span>
</div>
</div>
<style>
.btn {
  display: inline-block;

  border-radius: 5px;
  padding: 10px 5px;
  background-color: white;
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: "fira-sans-2", sans-serif;
}

.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

.btn--create {
  border-color: #3D9970;
  color: white;
  background-color: #2C739F;

  </style>