<div class="container">
  <h1 class="create__header">Let's Create Something Awesome!</h1>
  <div class="create">
    <div class="create__intro">First things first...</div>
    <br>
    <div class="create__text">
      <div>Name this tutorial:</div>
      <div>
        <form>
          <input type="text">
        </form>        
      </div>
    </div>
    <br>
    <div class="create__text">
      <div>Briefly describe it: (250 characters max)</div>
      <div>      
        <form>
          <input type="text">
        </form>
      </div>
    </div>
    <br>
    <div class="create__dropdown">
      <div>Select a category:</div>
      <div>
        <select>
          <option>select a category</option>
        </select>
      </div>
    </div>
    <br>
    <div class="btn btn--create">
      <span class="btn__text">Choose a video</span>
    </div>
    <br><br>
    <div class="create__buttons">
      <div>Privacy settings:</div>
      <br>
      <div>
        <div>Public (default)</div>
        <br>
        <div>Internal use only</div>
      </div>
    </div>
  </div>
  <br>
  <div class="create__header">
    <h1 class="create_tutorial_chapters_header center">Chapters</h1>
    <div></div>
  </div>
  <div class = "row>"
  <div class = "col-6">

    <div class = "col-4">
    <h3>Chapter 1</h3>
      <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" style="width:300px;height:300px;">
    </div>

    <div class = "col-4">
    <h3>Chapter 2</h3>
      <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" style="width:300px;height:300px;">
    </div>

    <div class = "col-4">
    <h3>Chapter 3</h3>
      <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" style="width:300px;height:300px;">
    </div>

</div>


<style>
.create {
  border: 3px solid #000;
  padding: 10px;
  text-align: center;
}

.create__header {
  margin: 20px;
  text-align: center;
}

.btn {
  display: inline-block;

  border-radius: 5px;
  padding: 10px 5px;
  background-color: white;
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: "fira-sans-2", sans-serif;
}

.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

.btn--create {
  border-color: #205B81;
  color: white;
  background-color: #358FC9;


</style>