<br><br>

<%= form_tag('company/verification/confirmation') do %>
   <input id="verification_field" type="text" name="company_verification" value="<%= params[:company_verification] %>">
    <div id="verification_submit"><%= submit_tag 'Submit' %></div>
<% end %>