<h1> This is the view page for Chapters.</h1>

   <%= link_to "Delete", @chapter, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this chapter?" } %>