<h1> This is the view page for Chapters.</h1>
<h2><%= @chapter.title %></h2>
<h2><%= @tutorial.title %></h2>

   <%= link_to "Delete", @chapter, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this chapter?" } %>